<%= render :partial => 'navigate' %> 
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit">
        <h1>Heading</h1>
        <p>Take A Seat And Make Your WishList Here</p>
        
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
         
            <center><h1><%= link_to 'My Wish'.html_safe, page_my_wish_path %></h1></center>
       
    </div> 
    
  </div>
</div>
