<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit">
        <h1>Heading</h1>
        <p>Take A Seat And Make Your WishList Here</p>
        
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
          <center><h1><%= link_to 'Login'.html_safe, page_home_path %></h1></center>
          
    </div>
    <div class="span6">
          
           <center><h1><%= link_to 'Sign Up'.html_safe, page_home_path %></h1></center>
    </div>
  </div>
</div>
